{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<h2  class="p-2 mb-2 bg-secondary text-white">Inscription</h2>


    {{ form(formInscrip) }}

{% endblock %}